---
- hosts: localhost
  tasks:
    - name: create stack
      register: stack_create
      os_stack:
        name: bre-rhel8
        state: present
        template: "../templates/server.yaml"
        environment:
          - "../environments/env.yaml"
        parameters:
          flavor: 4c16g100d
          image: rhel-8.1
