---
- hosts: localhost
  tasks:
    - name: create stack
      register: stack_create
      os_stack:
        name: bre-centos8
        state: present
        template: "../templates/server.yaml"
        environment:
          - "../environments/centos-8.yaml"
        parameters:
          flavor: m1.small
          image: CentOS-8.1.1911
